<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gymtracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewTrainingActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ExerciseChoiceActivity" />
        <activity android:name=".ExerciseSetDetailsActivity" />
        <activity
            android:name=".TrainingsHistoryActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SingleTrainingHistoryActivity"
            android:parentActivityName=".TrainingsHistoryActivity" />
        <activity
            android:name=".ResultsExercisesListActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ResultsGraphActivity"
            android:parentActivityName=".ResultsExercisesListActivity"/>
    </application>

</manifest>